<div class="container">
  <div class="invoice">
    <header>
      <section>
        <h1>Invoice</h1>
        <span><%= @invoice.date %></span>
      </section>

      <section>
        <span><%= @invoice.number %></span>
      </section>
    </header>

    <main>
      <table>
        <tr>
          <th align="left">Product</th>
          <th align="right">Amount</th>
          <th align="center">GST</th>
          <th align="right">Price</th>
          <th></th>
        </tr>

        <% @invoice.lineItems.each do |lineItem| %>
          <tr>
            <td align="left"><%= lineItem.description %></td>
            <td align="right"><%= lineItem.amount %></td>
            <td align="center">
              <% if lineItem.includesTax %>
                <i class="material-icons">done</i>
              <% else %>
                <i></i>
              <% end %>
            </td>
            <td align="right"><%= lineItem.unitCost %></td>
            <td align="right"><i class="material-icons icon-gray">delete</i></td>
          </tr>
          <% end %>

           <tr class="input-row">
              <%= form_for([@invoice, @invoice.lineItems.build]) do |f| %>
                <td align="left"><%= f.text_field :description, :value => 'New item' %></td>
                <td align="right"><%= f.number_field :amount %></td>
                <td align="center"><%= f.check_box :includesTax %></td>
                <td align="right"><%= f.number_field :unitCost %></td>
                <td align="center"><i class="material-icons icon-gray">add_circle</i></td>
              <% end %>
           </tr>
         </table>

        <span id="total-label">Total</span> <span id="total-amount"><%= @invoice.total %></span>

    </main>

    <footer>
      <a href="#0">Later</a>
      <a href="#0">Pay Now</a>
    </footer>
  </div>
</div>
