<div class="container">
  <div class="invoice">
    <header>
      <section>
        <h1>Invoice</h1>
        <span><%= @invoice.date %></span>
      </section>

      <section>
        <span><%= @invoice.number %></span>
      </section>
    </header>

    <main>
      <section>
        <span>Product</span>
        <span>Amount</span>
        <span>GST</span>
        <span>Price</span>
      </section>

      <section>
        <% @invoice.lineItems.each do |lineItem| %>
        <figure>
          <span><%= lineItem.description %></span>
          <span><%= lineItem.amount %></span>
          <span>
            <% if lineItem.includesTax %>
              <i class="material-icons">done</i>
            <% else %>
              <i></i>
            <% end %>
          </span>
          <span><%= lineItem.unitCost %></span>
        </figure>
        <% end %>
         <figure>
            <%= form_for([@invoice, @invoice.lineItems.build]) do |f| %>
              <!--<span class="new-line-item"></span>-->
              <%= f.text_field :description %>
              <%= f.number_field :amount %>
              <%= f.check_box :includesTax %>
              <%= f.number_field :unitCost %>
            <% end %>
         </figure>
      </section>

      <section>
        <span>Total</span>
        <span></span>
        <span></span>
        <span><%= @invoice.total %></span>
      </section>
    </main>

    <footer>
      <a href="#0">Later</a>
      <a href="#0">Pay Now</a>
    </footer>
  </div>
</div>
