<div class="container">
  <div class="invoice">
    <header>
      <section>
        <h1>Invoice</h1>
        <span><%= @invoice.date %></span>
      </section>

      <section>
        <span><%= @invoice.number %></span>
      </section>
    </header>

    <main>
      <section>
        <span>Product</span>
        <span>Unit</span>
        <span>GST</span>
        <span>Price</span>
      </section>

      <section>
        <% @invoice.lineItems.each do |lineItem| %>
        <figure>
          <span><%= lineItem.description %></span>
          <span><%= lineItem.amount %></span>
          <span><%= lineItem.includesTax %></span>
          <span><%= lineItem.unitCost %></span>
        </figure>
        <% end %>
      </section>

      <section>
        <span>Total</span>
        <span>9.90</span>
      </section>
    </main>

    <footer>
      <a href="#0">Later</a>
      <a href="#0">Pay Now</a>
    </footer>
  </div>
</div>
