<!DOCTYPE html>
<html>
  <head>
    <title>Invoicr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= google_webfonts_init({
          google: ['Roboto Condensed']
        }) %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
